<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-3">Upload research papers</h1>
        <div class="col-6 offset-3">
            <form action="/" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">  
                    <label for="username" class="form-label">Name</label>
                    <input name="username" id="username" type="text" class="form-control" required>
                    
                </div><br><br><br>
                
                <div class="mb-3">  
                    <label for="password" class="form-label">PRN</label>
                    <input name="password" id="password" type="text" class="form-control" required>
                    
                </div><br><br><br>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload File</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div><br><br><br>
                <button class="btn btn-success">Upload</button>
            </form>
        </div>
</div>

<script src="app.js"></script>
</body>
</html>